.dropdown {
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    color: $dark-shade-75;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0;
    padding-left: 15px;
    width: 100%;
    &::placeholder {
        color: rgba(31, 32, 65, 0.25);
        font-size: 14px;
        line-height: 18px;
    }
    &-subscription {
        align-items: center;
        border: 1px solid $dark-shade-25;
        border-radius: 4px;
        display: flex;
        padding-right: 15px;
        &__text-field {
            border: none;
        }
    }
}