.title {
    &-widget {
        font-family: Quicksand;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
    }
    &-inside {
        font-family: Quicksand;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
    }
    &-label {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        white-space: nowrap;
    }
    &--color {
        &-purple {
            color: #BC9CFF;
        }
    }
}
.text {
    color: $dark-shade-75;
    font-size: 14px;
    line-height: 24px;
    &-medium {
        font-size: 14px;
        line-height: 18px;
    }
    &-small {
        font-size: 12px;
        line-height: 14px;
    }
    &--color {
        &-light {
            color: rgba(31, 32, 65, 0.5);
        }
    }
    &--right {
        text-align: right;
    }
    &--nowrap {
        white-space: nowrap;
    }
}