.pagination__wrapper
	.pagination
		ul.pagination__list
			li.pagination__item.pagination__item--active
				a(href="#").pagination__link 1
			li.pagination__item
				a(href="#").pagination__link 2
			li.pagination__item
				a(href="#").pagination__link 3
			li.pagination__item
				a(href="#").pagination__link ...
			li.pagination__item
				a(href="#").pagination__link 15
		a(href="").pagination__btn
			+icon('arrow_forward','pagination__icon')
	span.pagination__text.text 1 – 12 из 100+ вариантов аренды