mixin colorsItem(color,title,text)
    li.colors__item
        .colors__color(style=`background-color:${color}`)
        .colors__information
            .colors__title=title
            .colors__text=text
include ui-kit-header
.ui-kit-container
    .colors-type-wrapper
        ul.colors
            +colorsItem('#1F2041','Dark Shade 100%','#1F2041')
            +colorsItem('rgba(31, 32, 65, 0.75)','Dark Shade 75%','#1F2041')
            +colorsItem('rgba(31, 32, 65, 0.5);','Dark Shade 50%','#1F2041')
            +colorsItem('rgba(31, 32, 65, 0.25);','Dark Shade 25%','#1F2041')
            +colorsItem('rgba(31, 32, 65, 0.5);','Dark Shade 5%','#1F2041')
            +colorsItem('#bc9cff','Purple','#bc9cff')
            +colorsItem('#6fcf97','Green','#6fcf97')
        ul.type
            li.type__item
                span(style="font-size:24px;").type__subtitle H1
                h1.title-widget This one is the sub-section or widget title
            li.type__item
                span(style="font-size:19px;").type__subtitle H2
                h2.title-inside Next one is the item title inside widgets
            li.type__item
                span(style="font-size:12px;").type__subtitle H3
                h3.title-text This is a label or CTA text
            li.type__item
                span(style="font-size:14px;").type__subtitle body
                span.text This is the body text which is used for most of the design, like paragraphs, lists, etc.
