.range-slider
    .range-slider__header
        h3.range-slider__title.title-label диапазон цены
        span.range-slider__value.text 5 000₽ - 10 000₽
    .range-slider__body
        input(type="range").js-range-slider.range-slider__input