.toogle__wrapper
    .toogle
        .toogle__main
            input(type="checkbox" id="hidcheck" hidden)
            label(for="hidcheck" id="capsule-id").capsule
                .circle
    span.text Получать спецпредложения