.room-card-slider
    .room-card-slider__navigation.room-card-slider__navigation--prev
        +icon('arrow-to-left','room-card-slider__navigation-icon')
    .room-card-slider__navigation.room-card-slider__navigation--next
        +icon('arrow-to-right','room-card-slider__navigation-icon')
    .room-card-slider__dots
    