extends layout/main

block variables
    -var title = 'Вход'

block content
    .login
        form.form.login__form.form--sz-fix
            h1.form__title.title-widget Войти
            .form__item
                input(type="text" placeholder="Email").form__input.dropdown
                input(type="text" placeholder="Пароль").form__input.dropdown
            button.form__btn.btn.btn--bg-gradient 
                a(href="#").btn__link войти
                +icon('arrow_forward','arrow-forward')
            .form__footer
                span.text-medium.text--nowrap Нет аккаунта на Toxin?
                a(href="registration.html").btn создать