.checkbox__wrapper
    h3.checkbox__title.title-label Checkbox Buttons
    +chexbox('Можно курить','checked')
    +chexbox(text,check)
    +chexbox(text,check)
    label.checkbox.text-medium Можно курить 
        input(type="checkbox")
        span.checkbox__custom
    label.checkbox.text-medium Можно с питомцами
        input(type="checkbox" checked)
        span.checkbox__custom
    label.checkbox.text-medium Можно пригласить гостей (до 10 человек) 
        input(type="checkbox" checked)
        span.checkbox__custom
    