.main {
    background: url(../images/content/bg.png) no-repeat;
    background-size: cover;
    height: 830px;
    position: relative;
    .text {
        bottom: 18px;
        height: 48px;
        position: absolute;
        right: 140px;
        text-align: right;
        width: 297px;
    }
    .form {
        left: 140px;
        position: absolute;
        top: 70px;
        &__group {
          display: flex;
          justify-content: space-between;
          & > * {
              margin-right: 20px;
              &:last-child {margin-right: 0;}
          }  
        }
        &__btn {
            margin-top: 10px;
        }
    }
}