.btn {
    border: 2px solid $purple;
    border-radius: 22px;
    color: $purple;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    &--bg {
        &-gradient {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            color: $white;
        }
    }
    &__link {
        color: $white;
        text-decoration: none;
    }
}