.radio__group
                label.radio
                    input(type="radio" name="gender" value="male" checked).radio__input
                    span.radio__custom
                    span.text Мужчина
                label.radio
                    input(type="radio" name="gender" value="female").radio__input
                    span.radio__custom
                    span.text Женщина