.search-room {
    background: #FFFFFF;
    display: flex;
    margin-top: 30px;
    & > * {
        margin-right: 60px;
        &:last-child {margin-right: 0;}
    }
    &__title {
        margin-bottom: 21px;
    }
}