.main-nav {
    &__link {
        color: $dark-shade-50;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
    }
    &__icon {
        height: 8px;
        fill: $dark-shade-50;
        margin-left: 6.5px;
        width: 12px;
    }
}